.fashion {
    padding-top: 200px;
    padding-bottom: 130px;
    background-color: #FFE2E2;
}

.fashion__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fashion__left {
    display: flex;
    align-items: center;
}

.fashion__img {


    &:last-child {
        position: relative;
        left: -50px;
        top: 45px;
    }
}

.fashion__right {

}

.title__fashion {
    text-align: left;
}

.fashion__desc {
    margin: 0;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.05em;
    color: rgba(49, 49, 49, 0.8);
}

.btn {

}