.hero {
    padding-top: 100px;
    padding-bottom: 201px;
    background-color: #FFE2E2;

    @media (max-width: 768px) {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    @media (max-width: 375px) {
        padding-bottom: 80px;
    }
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__hero {
    

    @media (max-width: 768px) {
        margin-bottom: -24px;
        z-index: 2;
    }

    @media (max-width: 560px) {
        font-size: 45px;
        line-height: 100%;
    } 

    @media (max-width: 375px) {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 28px;
    }
}

.hero__images {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.images__item--344px {
    width: 22.8%;

    @media (max-width: 768px) {
        width: 37%;
    }
}

.images__item--223px {
    width: 14.8%;

    @media (max-width: 768px) {
        display: none;
    }
}

.images__item--270px {
    width: 16.8%;

    @media (max-width: 768px) {
        width: 29%;
    }
}

.item {
    width: 224px;
    height: 336px;

    img {
        width: 224px;
        height: 336px;

    }
    &:active {
        transform: scale(1);
    }
}